/* HEADER */

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar{
    width: 12px; /* espessura do scrollbar  */
}


/* HEADER */
.main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 107px);
    max-width: 100%;
    margin-left: 324px; 
    margin-right: 12px;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 12px 0;
    border-radius: 8px;
    background-color: var(--bg-cards-color);
    position: fixed;
    width: calc(100vw - 368px);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 100%;
    overflow-x: hidden;
}

.navigation__arrow{
    display: flex;
}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login{
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 20px;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-search);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search img:hover{
    cursor: pointer;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: var(--text-dark);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__search input::placeholder{
    color: var(--text-light);
}

.header__login .subscribe{
    color: var(--text-light);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 32px;
    border: none;
}

.header__login .subscribe:hover{
    transform: scale(1.04);
}

.header__login .login{
    width: 100px;
    height: 48px;
    color: var(--text-dark);
    background-color: var(--bg-entrar-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: transparent;
}

.header__login .login:hover{
    transform: scale(1.04);
}

/* FIM HEADER */

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin: 105px 0 0 0;
    background-image: linear-gradient(to bottom left, #005B14, #003900);
    height:calc(100vh - 212px);
    width: calc(100vw - 336px);
    border-radius: 8px;
}

.main-text{
    display: flex;
    flex-direction: column;
}

.main-content .greeting {
    display: flex;
    margin: 30px;
    font-weight: 800;
    font-size: 22;
    color: var(--text-light);
}

.texto{
    display: flex;
    margin: 0 30px 0 30px;
    font-weight: 300;
    font-size: 22;
    color: var(--text-light);
}



/* CARDS */




.main-content .cards{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
}

#cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
    border-radius: 8px;
    margin-bottom: 18px;
    gap: 20px;
}

#cards-container .playlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    background-color: #003900;
    padding: 20px 18px 40px 12px;
    border-radius: 8px;
    font-family: var(--font-dm-sans);
    gap: 8px;
}

#cards-container .playlist-container:hover{
    background-color: #005B14;
}

.cardtxt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--text-light);
}

.card-play {
    position: relative;
}

.card-play .fa-play {
    position: absolute;
    right: 5px;
    top: -40px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.playlist-container:hover .card-play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.card-play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}


.main-content .cards .card1 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card2 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card3 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card4 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card5 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card6 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card7 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card8 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card9 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card10 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card11 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card12 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card13 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card14 img {
    width: 20vh;
    border-radius: 8px;
}

.main-content .cards .card15 img {
    width: 20vh;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#result-artist{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    background-color: #003900;
    padding: 20px 18px 40px 12px;
    border-radius: 8px;
    color: var(--text-light);
    font-family: var(--font-dm-sans);
    font-weight: 600;
}

#result-artist .card-text{
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

#result-artist img {
    width: 20vh;
    border-radius: 8px;
}

#result-artist:hover{
    background-color: #005B14;
    cursor: pointer;
}

.play {
    position: relative;
}

.play .fa-play {
    position: absolute;
    right: 5px;
    top: -40px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

#result-artist:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}