html{
    height: 100%;
    min-height: 100%;
}
body {
    /* background-color: #9CFFAA; */
    background-image: linear-gradient(to bottom left, #9CFFAA, #E3E3D6);
    font-family: var(--font-dm-sans);
}

h1 {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    height: 100vh;
}

.sidebar_navigation {
    background-color: #005B14;
    border-radius: 8px;
    padding: 16px 0 0;
}

.sidebar_navigation .logo {
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #D8F9DA;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a :hover{
    color: #fff;
    cursor: pointer;
}

.library { 
    background-color:#005B14;
    border-radius:8px;
    display:flex;
    flex-direction: column;
    padding:12px;
    font-weight: 600;
    font-size:14px;
    margin-top: 10px;
    height: calc(100vh - 314px);
    overflow-y: hidden;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display:flex;
    margin-right: 10px;
    color:#D8F9DA;
    background-color: transparent;
    border:0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding:20px 10px;
}

.library .library__button :hover{
    color: #fff;
    cursor: pointer;
}

.library .library__button .fa {
    font-size:20px;
    font-weight: 300;
    color:#D8F9DA;
    margin-right: 10px;
    padding-right:8px;
}

.library .library__content .fa-plus {
    color: #D8F9DA;
    margin: 24px 10px;
    cursor: pointer;
}

.library .library__content .fa-plus :hover{
    color: #fff;
    cursor: pointer;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #52B566;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom: 14px;
    color: #003900;
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #93F6A2;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.section-playlist__content .section-playlist__button:hover {
    transform: scale(1.04);
    background-color: #D8F9DA;
}

.section-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color:#52B566;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px 20px;
}
.section-podcast .section-podcast__content{
    display: flex;
    flex-direction: column;
}

.section-podcast__content .text{
    padding-bottom: 14px;
    color: #003900;
}

.section-podcast__content .title{
    font-weight: 700;
}

.section-podcast__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-podcast__content .section-podcast__button {
    display: flex;
    justify-content: center;
    background-color: #93F6A2;
    color: #000;
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    width: 121px;
    cursor: pointer;
}

.section-podcast__content .section-podcast__button:hover {
    transform: scale(1.04);
    background-color: #D8F9DA;
}

.cookies {
    padding: 16px 0;
    color: #D8F9DA;
}

.cookies_btn {
    background-color:transparent;
    color: #D8F9DA;
    border: none;
    font-size: 8px;
    margin-right: 3px;
}

.cookies_btn:hover{
    cursor: pointer;
}

.sidebar_cookies {
    display: flex;
    justify-content: space-between;
    color: #D8F9DA;
    padding: 25px 25px 25px 13px;
    font-size: 10px;
}

.sidebar_cookies:hover{
    cursor: pointer;
}

.sidebar_idioma {
    display: flex;
    gap: 8px;
    background-color: #003900;
    color: #EDFEEE;
    padding: 6px;
    border-radius: 16px;
    font-weight: 600;
    border: 1px solid #878787;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.sidebar_idioma:hover{
    transform: scale(1.04);
    border: 1px solid #EDFEEE;
}

footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-image: linear-gradient(to right, #546255, #52B566);
    align-items: center;
    padding: 0 20px 0 20px;
}

footer:hover{
    cursor: pointer;
}

footer .footer__content{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    font-size: 14px;
}

footer .title{
    display: block;
    font-weight: 600;
    text-overflow:initial;
    overflow: hidden;
    white-space: nowrap;
    max-height: 60px;
    color: var(--text-light);
}

footer .subtitle{
    display: block;
    font-weight: 300;
    margin-top: 8px;
    color: var(--text-light);
    text-overflow:initial;
    overflow: hidden;
    white-space: nowrap;
    max-height: 60px;
}

.footer__button{
    padding-right: 20px;
    text-overflow:initial;
    overflow: hidden;
    white-space: nowrap;
    max-height: 60px;
}

footer button{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    width: 140px;
    bottom: 0;
    font-weight: 700;
    background-color: #003900;
    color: #9CFFAA;
    cursor: pointer;
    margin: 20px;
    color: var(--text-light);
}

footer button:hover{
    transform: scale(1.04);
    background-color: #005B14;
}